<h2>Products</h2>

<div *ngFor="let productt of products">
  <h3>
    <a
      [title]="productt.name + ' details'"
      [routerLink]="['/products', productt.id]"
    >
      {{ productt.name }}
    </a>
  </h3>

  <p *ngIf="productt.description">Description: {{ productt.description }}</p>

  <button (click)="share()">Share</button>

  <app-product-alerts [productee]="productt" (notify)="onNotify()">
  </app-product-alerts>
  <!-- bir product nesnesini app-product-alerte gönderir. onu da karşılar ne ile karşılar input ile karşılar. buna chilt componente veri gönderme işlemi denir. -->
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
